#!/bin/bash

set -x

curl -sSL --retry 5 --retry-delay 10 https://releases.rancher.com/install-docker/18.09.sh |sh

if command -v systemctl > /dev/null; then
    echo "Starting docker..."
    systemctl stop docker
    sleep 10
    systemctl start docker
fi

sleep 5
${cluster_registration_command} --etcd --worker --controlplane
